{%extends 'twitter/base.html'%}

{%block content%}

<div class="heading">
    <h1>
        Home
    </h1>
</div>
<div class="tweet-container">
    {%for tweet in posts%}
    <div id="tweet">
        <h3>Author {{tweet.author}}</h3>
        <p>{{tweet}}</p>
        <div class="metadata">
            <div>
                <p id="annotation">Twitter for web</p>
            </div>
            <span style="color: white;"> {{tweet.created|date}}</span>
            <div>
                {%for tags in tweet.tags.all%}
                    <span class="tags"> #{{tags}} </span>
                {%endfor%}
            </div>
        </div>
        

    </div>
    {%endfor%}
</div>
{%endblock%}

{%block follow%}
{%for i in follow%}
<div class="ui-segment">
    <div class="user">{{i}}</div>
    <br>
    <a href ="{%url 'User_Profile:user_detail' i.pk%}">
        <button class="submit-btn">See Profile</button></a>
</div>
{%endfor%}
{%endblock%}
